.page-not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100% - 60px);
  }
  
  .btn-primary {
    padding: 10px 16px !important;
    text-decoration: none !important;
    font-family: "Poppins";
  }
  img{
    height: 90%;
    width: 100%;
  }
  