@font-face {
  font-family: "Poppins";
  src: url("./assets/font/Poppins-Regular.otf");
}

* {
  box-sizing: border-box;
  font-family: "Poppins";
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: "Poppins";
  overflow-x: hidden;
}

.absolute {
  position: absolute !important;
}

.fixed {
  position: fixed !important;
}

.relative {
  position: relative !important;
}

.h-screen {
  height: 100vh;
}

.d-flex {
  display: flex !important;
}

.w-100 {
  width: 100% !important;
}

.w-50 {
  width: 50% !important;
}

.justify-content-center {
  justify-content: center !important;
}

.align-items-center {
  align-items: center !important;
}

.h-100 {
  height: 100% !important;
}

.required {
  color: rgb(239 68 68 / 1);
}

div.required {
  font-size: small;
}

.border {
  border: 1px solid #dee2e6;
}

.placeholder-gray::placeholder {
  color: rgb(156 163 175 /1);
}

.rounded-6 {
  border-radius: 6px;
}

.c-pointer {
  cursor: pointer;
}

.my-10px {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.me-5px {
  margin-right: 5px;
}

.float-right {
  float: right !important;
}

.btn-primary {
  font-size: medium;
  border-radius: 6px;
  background-color: #3ab5ca;
  text-align: center;
  color: #ebebeb;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn-primary:hover {
  background-color: #347d8a;
}

label {
  font-size: 14px;
}

.gap-10 {
  gap: 10px;
}

.border-none {
  border: none !important;
}

.auth-form h2 {
  font-size: 30px;
  font-weight: 600;
  text-transform: capitalize;
  color: #333e42;
}

.auth-form p {
  font-size: 14px;
  color: #727a7d;
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 0;
}

.auth-form a {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #263d8a;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.auth-form a:hover {
  color: #1f2c56;
}

.auth-form input {
  outline: transparent;
}

.auth-info {
  font-size: 12px;
  font-size: 400;
}

.p-dialog-mask {
  background: #0006;
  pointer-events: all;
}
